<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Appender_stdout -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p (%C) %m%n" />
		</layout>
	</appender>

	<!-- Appender -->
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="./log/FileComparison.log" />
		<param name="Append" value="true" /> <!-- true:追記  false:上書き -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p (%C) %m%n" />
		</layout>
	</appender>

	<!-- Log Level -->
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file"/>
	<!--
		<appender-ref ref="daily"/>
	-->
	</root>
</log4j:configuration>